$primCol: #1a73e8;
$grey: rgb(150, 150, 150);
$scrollCol: rgb(228, 227, 227);
$shadow: rgba(190, 190, 190, 0.301);
$fontWeight: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 700
);

@function weight($name) {
    @return map-get($fontWeight, $name);
}

@mixin flex($jc: null, $ai: null, $dir: null) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;;
    flex-direction: $dir;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

html, body {
    @include flex(center, center);
    width: 100%;
    height: 100%;
    background: #fff;
}

.date-disp {
    @include flex(center, center, column);

    .intro-sec {
        @include flex(center, center, column);
        margin-bottom: 20px;
        
        .intro {
            font-size: 30px;
            font-weight: weight(regular);
    
            .me {
                color: $primCol;
                font-weight: weight(medium);
            }
        }

        .socials {
            font-size: 30px;
            a {
                color: #000;
                &:hover {
                    color: $primCol;
                }
            }
        }
    }


    .sel-date {
        font-size: 40px;
        font-weight: weight(bold);
        
        .p {
            color: $primCol;
        }
        .g {
            color: #000;
        }
    }

    .datesel-btn {
        width: 150px;
        height: 50px;
        background: $primCol;
        outline: none;
        border: none;
        color: #fff;
        font-size: 20px;
        box-shadow: 0 0 20px $shadow;
        border-radius: 5px;
        font-weight: weight(regular);
        margin-top: 10px;
        cursor: pointer;
        transition: background .5s ease-in;
    }
}

.c-box {
    width: 375px;
    background: #fff;
    box-shadow: 0px 0px 99px $shadow;
    border-radius: 15px;
    padding: 20px 25px;
    transition: opacity .2s ease-in,
                transform .2s ease-in;

    .year {
        color: $grey;
        font-weight: weight(medium);
        cursor: pointer;
    }
    
    .full-date {
        color: #000;
        font-size: 35px;
        font-weight: weight(medium);
    }

    

    .calender {
        margin-top: 25px;

        .cal-scroll {
            width: 90%;
            @include flex($jc: space-between, $ai: center);
            margin: 0 auto;

            .my {
                font-weight: weight(medium);
                font-size: 15px;
            }

            .nav {
                cursor: pointer;
                font-size: 17px;
            }

        }

        .days {
            margin-top: 15px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            span {
                color: $grey;
                margin: auto;
                font-weight: weight(light);
            }
        }

        .cal-nums {
            @extend .days;
            margin-top: 10px;
            // row-gap: 5px;
            
            span {
                @include flex(center, center);
                height: 40px;
                width: 40px;
                font-weight: weight(light);
                border-radius: 50%;
                color: #000;
            }

            .date {
                cursor: pointer;
            }

            .selected {
                background: $primCol;
                color: #fff !important;
            }
        }
    }

    .yearSelector {
        @include flex(center, center, column);
        margin-top: 10px;
        height: 275px;
        overflow-y: scroll;
        font-size: 19px;
        font-weight: weight(regular);
        transition: opacity .2s ease-in;

        span {
            margin: 10px 0;
            cursor: pointer;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            width: 5px;
            background: $scrollCol;
            border-radius: 10px;
        }
    }

    .actions {
        height: 50px;
        @include flex(flex-end, center);

        .act-cont {
            width: 30%;
            @include flex(space-between, center);

            div {
                cursor: pointer;
                padding: 5px;
                color: $primCol;

                &:hover {
                    background: $primCol;
                    // padding: 5px;
                    color: #fff;
                    border-radius: 5px;
                }
            }
        }

    }
    
    .about {
        font-size: 13px;
        color: $grey;
        font-weight: weight(light);
        margin: 0 auto;
        width: 50%;

        #author {
            color: $primCol;
            font-weight: weight(regular);
        }
    }
}

